[Unit]
Description=Armor System Hardening Service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/armorhardening
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 